/* Color de la pagína */
body {
  background: linear-gradient(to bottom, rgb(90, 230, 85), rgb(255, 255, 255));
  background: linear-gradient(to left, rgb(209, 240, 209), rgb(191, 221, 166));
}
/* Títulos */
h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(18, 65, 26);
}
/* Formato clase .form */
.form {
  float: right;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 30px;
  color: rgb(22, 70, 40);
  padding: 5px;
}
/* Formaro de formulario actualizarCliente.php */
#formulario_modCliente {
  text-align: left;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 50px;
  color: rgb(35, 66, 47);
}
/* Formato subtitulos */
label {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* Botones */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: groove;
  border-color: rgb(182, 247, 202); 
}
/* Formato de listado de clientes de la ventana listadoClientes.php */
#tabla {
  background-color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
}
/* Botón de la ventana crearCliente.php */
.btnCrear_Cliente, #Crear_Cliente{
  float: left;
  margin-bottom: 5px;
  margin-top: 25px;
  margin-left: 200px;
}
/* Botón de la ventana crearCliente.php */
.btn_RegresarCliente, #Regresar{
  float: right;
  margin-bottom: 5px;
  margin-top: 25px;
  margin-right: 300px;
}
/* Quitar subrayado y formato de etiqueta a en la ventana listadoClientes.php (De botones Modifcar, Crear Cliente y Atrás */
a{ 
  outline: none;
  text-decoration: none;
  color: white;
}
/* Botón Buscar de la ventana listadoClientes.php */
.btn_Buscar{
  margin-top: -105px;
  float: right;
  margin-right: 300px;
}
/* Botón Crear cliente de la ventana listadoClientes.php */
.btn_CrearCliente {
  margin-top: 15px;
} 
/* Botón Eliminar Cliente de la ventana listadoClientes.php */
.btn_EliminarCliente {
  background-color: rgb(223, 70, 70);
}
/* Botón Buscar de la ventana gestionarCliente.php */
.btn_BuscarComentario{
  margin-top: -40px;
  float: right;
  margin-right: 300px;
}
/* Botón Guardar Comentario de la ventana gestionarCliente */
.btn_GuardarComentario, #btnGuardarComentario{
  margin-left: 350px;
  margin-bottom: 0px;
  margin-top: 15px;
  margin-right: 215px;
}
