/* Color de la pagína */
body {
  background: linear-gradient(to bottom, rgb(90, 230, 85), rgb(255, 255, 255));
  background: linear-gradient(to left, rgb(209, 240, 209), rgb(191, 221, 166));
}
/* Títulos */
h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(24, 63, 37);
}

/* Formato del formulario*/
.form {
  float: right;
  margin-left: 100px;
  margin-right: 50px;
  font-size: 30px;
  color: rgb(22, 70, 40);
  padding: 5px;
}
/* Formulario de la ventana crearUsuario.php */
#formulario_crearUsuario {
  text-align: left;
  font-size: 25px;
  margin-left: 550px;
  margin-right: 30px;
  margin-top: -400px;
  color: rgb(35, 66, 47);
}

/* Imagen de la ventana crearUsuario.php */
.imagen {
  margin-left: 130px;
  margin-top: 20px;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-style: outset;
  border-color: rgb(159, 255, 188);
}
/* Subtitulos (Label) del formulario crearUsuario.php */
label {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* Botones */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-style: groove;
  border-color: rgb(182, 247, 202);
}
/* Quitar subrayado y formato de etiqueta a en la ventana listadoUsuarios.php (De botones Modifcar, Crear Cliente y Atrás */
a{ 
  outline: none;
  text-decoration: none;
  color: white;
}
/* Formato de listado de clientes de la ventana listadoUsuarios.php */
#tabla {
  background-color: aliceblue;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: medium;
}

#txtBuscarUsuarios{
  margin-left: 95px;
 } 
/* Botones de la ventana listadoUsuarios.php */
#btnsListaUsuarios{
  margin-top: 50px;
  margin-left: 10px;
}
/* Botón Buscar Usuarios de la ventana listadoClientes.php */
.btn_Buscar{
  margin-right: 15px;
}
/* Botón Crear Usuario de la ventana listadoClientes.php */
.btn_CrearUsuario {
  margin-right: 15px;
}

 /* Formato del formulario Modificar Usuario */
#formulario_modUsuario {
  text-align: left;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 50px;
  color: rgb(35, 66, 47);
}
/* Botón Guardar Cambios de la ventana modUsuario.php */
.btnModUsuario {
  margin-top: 35px;
  margin-left: 110px;
  margin-right: 100px;
}
/* Botón atrás de la ventana modUsuario.php */
.btn_RegresarUsuario {
  /* margin-top: 35px; */
}
/* Botón Crear Usaurio de la ventan crearUsuario.php */
.btnCrearUsuario{
  float: right;
  margin-right: 200px;
  margin-top: -50px;
}
/* Botón Regresar de la ventan crearUsuario.php */
.btnRegresarUsuario{
  float: right;
  margin-top: -50px;
}
