/* Color de ventana Usuario */
body {
  background: linear-gradient(to bottom, rgb(193, 243, 191), white);
  background: linear-gradient(to left, rgb(70, 116, 68), rgb(161, 212, 119));
}

/* Formato de título de la ventana Crear Usuario */
#tituloCrear {
  text-align: center;
  font-size: 120px;
  color: aliceblue;
}
/* Títulos */
h1 {
  text-align: center;
  font-size: 100px;
  color: rgb(24, 63, 37);
}

/* Formato del formulario Crear Usuario */
.form {
  float: right;
  padding: 5px;
  margin: 5px;
}
#formulario_crearUsuario {
  text-align: left;
  font-size: 25px;
  margin-left: 550px;
  margin-right: 30px;
  margin-top: -400px;
  color: rgb(35, 66, 47);
}
/* Imagen de la ventana Crear Usuario */
img {
  margin-left: 130px;
  margin-top: 20px;
  border-bottom-left-radius: 5%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  border-style: outset;
  border-color: rgb(159, 255, 188);
}
/* Subtitulos (Label) del formulario Crear Usuario */
label {
  margin-top: 10px;
  margin-bottom: 5px;
}
/* Botones de la ventana Crear Usuario */
button {
  background-color: #4caf50;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 15px;
  margin-top: 50px;
  border-style: groove;
  border-color: rgb(182, 247, 202);
}

/* Color de ventana Modificar Usuario */
#bodymodUsuario {
  background: linear-gradient(to bottom, rgb(90, 230, 85), rgb(255, 255, 255));
  background: linear-gradient(to left, rgb(209, 240, 209), rgb(191, 221, 166));
}
/* Formato del formulario Modificar Usuario */
#formulario_modUsuario {
  text-align: left;
  font-size: 20px;
  margin-left: 100px;
  margin-right: 50px;
  color: rgb(35, 66, 47);
}
#tabla {
  background-color: aliceblue;
}
#Cancelar {
  font-size: 90%;
  background-color: rgb(8, 117, 54);
  margin-left: 480px;
  margin-top: 15px;
}
#Modificar_Usuario {
  font-size: 90%;
  background-color: rgb(8, 117, 54);
  margin-top: 15px;
}
#btnBuscar {
  font-size: 30px;
  background-color: rgb(8, 117, 54);
  margin-left: 0px;
  float: right;
  margin-top: -50px;
  margin-right: -150px;
  margin-bottom: 15px;
}

